*{
          margin: 0;
          box-sizing: border-box;
      }
      /* Your code goes here */
    body{
      background: linear-gradient(90deg, #54A6F0 0%, #563AE6 100%);
      overflow-x: none;

    }
    
  
      

      .element1{
        flex: 1;
        /* border: 1px solid black; */
        margin:10px;
      }

      .element2{
        margin: 20px;
      }

      .time{
        color: white;
      }

      .logo{
        color:white;
       font-size: 36px;
       font-weight: bolder;
       position: absolute;
left: 14.44%;
right: 84.09%;
top: 12.21%;
bottom: 85.57%;
width: max-content;

      }
      .landing{ 
       position: absolute;
left: 5.9%;
right: 57.5%;
top: 32.71%;
bottom: 45.02%;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 76px;
color: #FFFFFF;
      }

      .pic{
        position: absolute;
left: 56.87%;
right: 6.02%;
top: 32.34%;
bottom: 18.01%;
height:508.38px ;
width: 534.38px;
      }

      .started{
        position: absolute;
left: 5.94%;
right: 76.12%;
top: 75.49%;
bottom: 17.98%;
width: 258px;
height: 66px;
border-radius: 20rem;
        
        
background: #5836E5;
position: absolute;
left: 9.79%;
right: 80.14%;
top: 77.15%;
bottom: 19.63%;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 33px;
/* identical to box height */

border: none;
color: #FFFFFF;
      }


      .lorem{
        position: absolute;
left: 5.35%;
right: 67.29%;
top: 58.01%;
bottom: 35.74%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;

      }

      .hr{
        
position: absolute;
left: 46.45%;
right: 46.66%;
top: 97.41%;
bottom: 2.07%;

background: #FFFFFF;
width:99.1% ;
height:5.27% ;
      }
      .logodiv{
        position: absolute;
        left:60.07px;
        top: 74.08px;
        
        
      }
      .logobutton{
        border: none;
        color: white;
        border-radius: 50%;
        padding:20px;

      }
      h2{
        position: absolute;
        left:100px;
        top: 20px;
        width: 150px;
        font-style: normal;
        font-weight: 400;
        color: white;
        padding: 10px;


      }
      
      
     




